@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #151851,
    #012050,
    #00264b,
    #072b44,
    #182e3d,
    #183141,
    #183344,
    #183648,
    #013858,
    #003968,
    #023776,
    #273380
  );
}
